<footer class="page__footer">
  <div class="page__footer-inner-wrap">
    <ul class="social-icons">
      <li><strong>Follow:</strong></li>
      <li><a href="{{ site.github_url }}" rel="me noopener noreferrer" target="_blank">GitHub</a></li>
      <li><a href="{{ site.bluesky_url }}" rel="me noopener noreferrer" target="_blank">Bluesky</a></li>
    </ul>

    <div class="page__footer-copyright">
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
      <img class="footer__logo" width="15" src="{{ '/assets/footer/Wellcome_Trust_logo_150px.png' | relative_url }}" alt="Wellcome Trust logo">
    </div>
  </div>

  <!-- Default Statcounter code for AMF Webpage
  http://swcmicroscopy.com -->
  <script type="text/javascript">
  var sc_project=12974155;
  var sc_invisible=1;
  var sc_security="36abab53";
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/12974155/0/36abab53/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->


</footer>
