<header class="masthead">
  <div class="masthead__inner-wrap">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label" aria-label="Toggle menu">
      <span></span>
    </label>

    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/people/' | relative_url }}">People</a></li>
        <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
      </ul>
    </nav>
  </div>
</header>
